asgiref==3.7.2
bidict==0.22.1
certifi==2023.7.22
charset-normalizer==3.3.0
Django==4.2.5
django-cors-headers==4.3.1
djangorestframework==3.14.0
dnspython==2.4.2
eventlet==0.37.0
greenlet==3.0.0
gunicorn==21.2.0
h11==0.14.0
idna==3.4
packaging==23.2
python-dotenv==1.0.1
python-engineio==4.8.0
python-socketio==5.9.0
pytz==2023.3.post1
requests==2.31.0
setuptools==75.1.0
simple-websocket==1.0.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
wsproto==1.2.0
